<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>员工列表操作案例</title>
</head>


<body>
<div id="app">
    <h1 id="h1">{{title}}</h1>

    <table border="1" width="50%">
        <tr>
            <th>工号</th>
            <th>姓名</th>
            <th>工龄</th>
            <th>薪资</th>
            <th>操作</th>
        </tr>
        <tr v-for="(employee, index) in employees" :key="employee.id">
            <td class="td">{{employee.id}}</td>
            <td class="td">{{employee.name}}</td>
            <td class="td">{{employee.age}}</td>
            <td class="td">{{employee.salary}}</td>
            <td class="td"><a href="javascript:;" style="text-decoration: none;" @click="_delete(employee.id)">删除</a> <a
                    href="javascript:;"
                    style="text-decoration: none;" @click="getOne(employee.id)">修改</a>
            </td>
        </tr>
    </table>

    <br/>
    <form>
        工号：<input v-model="employee.id"><br>
        姓名：<input v-model="employee.name"><br>
        年龄：<input v-model="employee.age"><br>
        薪资：<input v-model="employee.salary"><br>
        <input type="button" value="提交" @click="submit">
    </form>

</div>
</body>
</html>


<script src="../js/vue.js"></script>
<script src="../js/axios.js"></script>
<script>
    new Vue({
        el: "#app",
        data: {
            title: "员工列表操作案例:",
            employees: [],
            employee: {},
        },
        methods: {
            getAll() {
                let _this = this;
                axios.get("http://localhost:8082/sql/employee/all").then(
                    function (response) {
                        _this.employees = response.data;
                    }
                ).catch(function (error) {
                    console.log(error);
                })

            },

            getOne(id) {
                let _this = this;
                axios.get("http://localhost:8082/sql/employee/" + id).then(
                    function (response) {
                        _this.employee = response.data[0];
                    }
                ).catch(function (error) {
                    console.log(error);
                })

            },
            submit() {
                let _this = this;
                axios.post("http://localhost:8082/sql/employee/add", _this.employee).then(
                    function (response) {
                        if (response.data) {
                            _this.getAll();
                            _this.employee={};
                        }
                    }
                ).catch(function (error) {
                    console.log(error);
                })
            },
            _delete(id) {
                let _this = this;
                if (window.confirm("您确认删除吗？")) {
                    axios.post("http://localhost:8082/sql/employee/delete", {"id": id}).then(
                        function (response) {
                            if (response.data) {
                                _this.getAll();
                            }
                        }
                    ).catch(function (error) {
                        console.log(error);
                    })
                }
            },
        },

        computed: {}
        ,
        created() {
            this.getAll();
        }
    })


</script>


<style>

    .td {
        text-align: center;
    }
</style>


